<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>hello this is Divyanshu</title>
        </head>
    <body>
        <ul style="text-align: left;" class="ul">
            <li class="li"><a href="#home" class="a" >Home</a></li>
            <li class="li"><a href="#news" class="a">News</a></li>
            <li class="li"><a href="#contact" class="a">Contact</a></li>
            <li class="li"><a href="#about" class="a">About</a></li>
            <li class="li"><a href="timeline.html" class="a" target="_blank">timeline</a></li>
            <li class="li"><a href="#know me" class="a">know me</a></li>
            <li class="li"><a href="#help" class="a">help</a></li>
            <li class="li"><a href="#donate" class="a">donate</a></li>
          </ul>
          <div style="margin-left:15%;padding:1px 16px;height:1000px;">
          <br>
          <h1 class="main_heading">WELCOME</h1>
          <br>
          <br>
          <p id="intro"> I am very much glad that you took time to come to 
            my website , it would mean much more if you would mean
            alot if you go through the whole website
          </p>
          <img src="WhatsApp Image 2020-03-26 at 1.52.20 PM.jpeg" class="intro_image";>
          <p style="text-align:center;" class="intro2">I hope if you are coming to my website it is highly probable that
            you would be knowing my name.<br>
            But just in case you don't , I would like to formally introduce myself as
            Divyanshu Srivastava. I am a sophomore in Thapar Institute of Engineering And Technology, studying COE .
            I really love to make new friends and talk to new people.
            So if you would like to know me more please contact me.
          </p>
          <p style="text-align: left;"> Here's a little bit more about myself:
            <ol style="text-align: left;">
                <li>I was born in a town in Uttar Pradesh,INDIA</li>
                <li>But i've been brought up in many different cities
                    <ul>
                        <li>Indore</li>
                        <li>New delhi</li>
                        <li>Baddi, a town in himachal pradesh</li>
                        <li>Chandigarh</li>
                        <li>Gurgaon</li>
                    </ul>
                </li>
            </ol>
          </p>
          <img src="IMG_20191006_123747.jpg" width="1000px">
          <br>
          <br>
          <p>How did you got to know about the website</p>
<!--after learning php you will create a survey for the lines below-->
          <form action="/action_page.php">
                <label for="cars">Choose any of the option:</label>
                    <select id="cars" name="cars">
                        <option value="whatsapp spamming">whatsapp spamming</option>
                        <option value="friend">friend</option>
                        <option value="i told you">i told you</option>
                        <option value="any other">any other</option>
                    </select>
                <input type="submit">
            </form>
        <h2 style="color: #01FF70;">How I feel</h2>

             <button type="button" onclick="alert('it means alot to me that you took time to visit my website')" style="background-color: #001f3f; color: beige;">Click Me!</button>
            </div>
    </body>
</html>